body{
    margin:0px;
    padding: 0px;
    background-color: #ffe4ea;
}
/*Estilização da logo da universidade e do instagram na barra superior*/
.barra{
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.918);
}
.logo{
    margin:50px;
}
.insta{
    margin: 20px;
}
/*Estilização dos botões da barra que da acesso a outros conteúdos da página*/
#home{
    margin: 0px 20px;
}
#projeto{
    margin: 0px 20px;
}
#vacina{ 
    margin: 0px 20px;
}
#covid{
    margin: 0px 20px;
}
.barra ul{
    float: right;
    margin-right: 20px;
}
.barra ul li{
    list-style: none;
    margin: 0px, 8px;
    display: inline-block;
    line-height: 80px;
}
.barra ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;    
    padding: 6px 13px;
    transition: .4s;
}
.barra ul li a.botão,
.barra ul li a:hover{
    background: red;
    border-radius: 2px;
}
/*Estilização do conteúdo da página*/
.PADS, .dados, .projeto{
    color: #0677b8;
    margin: 30px;
}
p{
    font-family: Arial;
    text-align: justify;
    margin: 20px;
}
